<!-- Banner -->
<section id="banner">
	<div class="inner">
		<div class="logo"><%= image_tag 'whiteknight.png', class: 'icon' %></div>
		<h2>Firehose Chess Senders!</h2>
		<p>Users can play chess here. Simply sign up and join a game or start your own.</p>
    <header>
      <nav id='primary_navigation'>
        <% if player_signed_in? %>
          <%= link_to 'Join Game', games_path, class: 'button' %>
          <%= link_to 'Create Game', new_game_path, method: :get, class: 'button' %>
          <%= link_to 'Sign Out', destroy_player_session_path, method: :delete, class: 'button primary' %>
        <% else %>
          <%= link_to 'Sign up', new_player_registration_path, class: 'button primary' %>
          <%= link_to 'Log in', new_player_session_path, class: 'button' %>
          <%= link_to player_facebook_omniauth_authorize_path, class: 'button' do %>
            <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x icon-background"></i>
            <i class="fa fa-facebook icon fa-stack-1x"></i>
            </span>
            <span>Log in with Facebook</span>
          <% end %>
          <%= link_to player_google_oauth2_omniauth_authorize_path, class: 'button' do %>
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x icon-background"></i>
            <i class="fa fa-google icon fa-stack-1x"></i>
          </span>
          <span>Log in with Google</span>
          <% end %>
        <% end %>
      </nav>
    </header>
	</div>
</section>

<!-- Wrapper -->
<section id="wrapper">

  <!-- One -->
    <section id="one" class="wrapper spotlight style1">
      <div class="inner">
        <div class="content">
          <h2 class="major">Tested with Rspec + Capybara</h2>
          <p>Both, Test-Driven Development and Behaviour-Driven Development, were used to produce features with correct functionality. Unit testing allows us to check the logic of the code while feature tests check user interaction.</p>
        </div>
        <a href="#" class="image"><%= image_tag 'code.png' %></a>
      </div>
    </section>

  <!-- Two -->
    <section id="two" class="wrapper alt spotlight style2">
      <div class="inner">
        <div class="content">
          <h2 class="major">Slim Controllers & Models with Service Objects</h2>
          <p>Often we hear the paradigm "slim controllers and fat models". However, by using service objects we are able to use both slim models and controllers to reduce complexity and increase readability.</p>
        </div>
        <a href="#" class="image"><%= image_tag 'code2.png' %></a>
      </div>
    </section>

	<!-- Three -->
		<section id="three" class="wrapper spotlight style3">
			<div class="inner">
				<div class="content">
					<h2 class="major">Code Example</h2>
					<p>This snippet demonstrates some of the logic behind the app, more specifically the King model. Each piece inherits from the main class Piece and also contains its own characteristics such as a King only being able to move 1 space or being able to castle.</p>
				</div>
				<a href="#" class="image"><%= image_tag 'code3.png' %></a>
			</div>
		</section>

		<section id="four" class="wrapper alt style1">
			<div class="inner">
				<h2 class="major">Meet the Chess Senders</h2>
				<section class="features">
					<article>
						<a href="#" class="image"><%= image_tag 'profile.png', alt: 'Adrian Chung' %></a>
					  <h3><%= link_to 'Adrian Chung', '#'%></h3>
					</article>
					<article>
						<a href="#" class="image"><%= image_tag 'profile.png', alt: 'Ben Kautt' %></a>
						<h3><%= link_to 'Ben Kautt', '#'%></h3>
					</article>
					<article>
						<a href="#" class="image"><%= image_tag 'profile.png', alt: 'Kadeem Walsh' %></a>
						<h3><%= link_to 'Kadeem Walsh', '#'%></h3>
					</article>
					<article>
						<a href="#" class="image"><%= image_tag 'profile.png', alt: 'Davey Wright' %></a>
						<h3><%= link_to 'Davey Wright', '#'%></h3>
					</article>
				</section>
			</div>
		</section>
	</section>

<!-- Tools for the Job -->
	<section class='image_row'>
		<div class="inner">
			<ul>
				<li>
					<%= image_tag 'github.png' %>
				</li>
				<li>
					<%= image_tag 'slack.png' %>
				</li>
				<li>
					<%= image_tag 'trello.png' %>
				</li>
				<li>
					<%= image_tag 'rubocop.png' %>
				</li>
			</ul>
		</div>
	</section>

<!-- Footer -->
	<section id="footer">
		<div class="inner">
			<ul class="copyright">
				<li>&copy; Untitled Inc. All rights reserved.</li>
			</ul>
		</div>
	</section>

  <script>
    $(window).scroll(function(){
      $('.spotlight').each(function(i){
        var object_coordinate = $(this).offset().top;
        var bottom_of_window = $(window).scrollTop() + $(window).height();
        if (bottom_of_window > object_coordinate) {
          $(this).animate({opacity: 1}, 500)
        }
      })
    })
  </script>
