<div class="user_show">
  <h2><%= @player.playername %></h2>
  <p>Last active: <%= @player.last_sign_in_at.strftime("%b %d, %Y") %></p>
  <h3><span>Games won:</span> <%= @player.games_won %></h3>
  <h3><span>Games lost:</span> <%= @player.games_lost %></h3>
  <h3><span>Games tied:</span> <%= @player.games_drawn %></h3>
  <h3><span>Games in progress:</span> <%= @player.games_in_progress %></h3>
  <h3><span>Total games played:</span> <%=@player.total_games %></h3>
  <br />
  <% if @player == current_player %>
    <%= link_to "Edit Profile", "#" %>
  <% end %>
</div>
