<div id="game" class='game_wrapper'>
	<section class="inner">
		<section>
			<h1><%= current_game.name %></h1>
			<ul>
				<li><h4><span>Game Author: </span><%= current_game.white_player.playername %></h4></li>
				<li><h4><span>Date Created: </span><%= current_game.created_at.strftime("%b %d, %Y") %></h4></li>
				<li><h4><span>White Player: </span><%= current_game.white_player.playername %></h4></li>
				<li><h4><span>Black Player: </span><%= current_game.black_player ? current_game.black_player.playername : 'Waiting for player' %></h4></li>
			</ul>
		</section>
		<h1 id='game_state'><%= current_game.state %></h1>
		<br />
		<%= button_to 'Forfeit', game_forfeit_path, :method=> :put, %>
		<br />
			<table class='chessboard'>
				<% @chess_board.each_with_index do |row, y| %>
					<tr>
						<% row.each_with_index do |piece, x| %>
							<td  data-row=<%= y %> data-column=<%= x %>
								class=<%= (!piece.nil? && Pieces::Disabled.call(piece)) ? 'draggable' : 'droppable' %> >
								<div>
									<% if !piece.nil? %>
										<%= image_tag piece.picture,
										class: "piece",
										data: {
				              row: y,
				              column: x,
				              url: piece_path(piece)
				            }
										%>
									<% end %>
								</div>
			        </td>
						<% end %>
					</tr>
				<% end %>
			</table>
	</section>
</div>

<script type="text/javascript">
	$(()=>{
		$('.castle').click((e)=>{
			$.ajax({
				type: 'PUT',
				url: $(e.target).data('url'),
				data: { direction: $(e.target).data('direction') }
			});
		})

		let droppable = (url) => {
			$( ".droppable" ).droppable({
				drop: (e)=>{
					$.ajax({
		        type: 'PUT',
		        url: url,
		        data: { row: $(e.target).data('row'), column: $(e.target).data('column') }
		      });
				}
			});
		}

		$('.draggable .piece').draggable({
			drag: (e) =>{
				droppable($(e.target).data('url'));
			}
		});

	});
</script>
