<h1><%= @player.playername %></h1>
<h2>Stats</h2>
<p>
  Games played - <%= @player.total_games %></br>
  Games won - <%= @player.games_won %></br>
  Games lost - <%= @player.games_lost %></br>
  Games drawn - <%= @player.games_drawn %></br>
</p>
